# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment and config files
.env
*.env

# Ignore Git files
.git/
.gitignore

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore any other unnecessary files
*.log
